<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sohaibkhan.digitallibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"></activity>
        <activity
            android:name=".FavouriteActivity"
            android:label="@string/activity_favourite" />
        <activity
            android:name=".WishlistActivity"
            android:label="@string/activity_wishlist" />
        <activity
            android:name=".AlreadyReadActivity"
            android:label="@string/activity_already_read" />
        <activity
            android:name=".CurrentReadingActivity"
            android:label="@string/activity_current_reading" />
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/book_details" />
        <activity
            android:name=".AllBookActivity"
            android:label="@string/activity_all_book" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>